@{
    ViewBag.title = "MVC de view results çeşitleri";
}

<h3>MVC de view results çeşitleri</h3>

<h4>Farklı view döndürme</h4>

<a href="/MVC09ViewResults/FarkliViewDondur">FarkliViewDondur</a>

<h4>redirect rwsults</h4>

<a href="/MVC09ViewResults/Yonlendir">RedirctResult</a>


<h4>RedirectToAction</h4>

<a href="/MVC09ViewResults/ActionaYonlendir">ActionaYonlendir</a>


<h4>RedirectToRouteResult</h4>

<a href="/MVC09ViewResults/RouteYonlendir">Redirect To Route Result</a>



<h4>Partial view Result</h4>
@Html.Partial("_KategorilerPartial")




<a href="/MVC09ViewResults/RouteYonlendir">Redirect To Route Result</a>