@{
    ViewBag.title = "MVC session kullanımı";
}
<h3>MVC session kullanımı</h3>

<section>
    MVC sesion alt sayfalardan alyout içerisine html css javasicript kodlarını göndermenizi sağlar
</section>

@section Scripts{
    <script>
        // alert("section scripts");
        console.log("MVC session kullanımı");
    </script>
}